<html>
<body>
  <div style='text-align:center;font-size:80px;'>
    <image height="340" width="1200" src="https://user-images.githubusercontent.com/194400/41597205-a57442ea-73c4-11e8-9591-61f5c83c7e66.png">
    <p><%= message %></p>
  </div>
</body>
</html>